{% extends 'base2.html' %}
{% load static %}
{% block title %}Django's mondai1{% endblock %}
 
{% block header %}
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
 
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Django's mondai1</h1>
                    <span class="subheading">Django 演習問題</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--穴埋め×2-->
{% endblock %}
 
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for record in orderby_records %}
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            {{record.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            <span style="font-size: 14pt">
                                {{recored.content|truncatechars:50}}
                            </span>
                        </h3>
                    </a>
                    <p class="post-meta">
                        <a href="#">Django's mondai1</a>
                        {{record.posted_at}}に投稿/カテゴリ：{{record.category}}
                    </p>
                </div>
               <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
<!--穴埋め-->
{% endblock %}
 